div { 
    display: flex;
    margin-top: 50px;
    flex-direction: row;
    columns: 3;
    justify-content: space-between;
    
}

header {
    background-color: black;
    height: 50px;
    width: 800px;
    color: white;
    text-align: center;
    padding-top: 10px;
    font-family: sans-serif;
}

#inputQ {
    float: left;
    height: 30px;
    margin: 100px 20px 0px 5px;
    
}

#outputQ {
    padding-right: 70px
}
